/* Child styles */

body.home .page-container.home-page .clearfix:before,
body.home .page-container.home-page .clearfix:after,
body.home .page-container.home-page .dl-horizontal dd:before,
body.home .page-container.home-page .dl-horizontal dd:after,
body.home .page-container.home-page .container:before,
body.home .page-container.home-page .container:after,
body.home .page-container.home-page .container-fluid:before,
body.home .page-container.home-page .container-fluid:after,
body.home .page-container.home-page .row:before,
body.home .page-container.home-page .row:after,
body.home .page-container.home-page .form-horizontal .form-group:before,
body.home .page-container.home-page .form-horizontal .form-group:after,
body.home .page-container.home-page .btn-toolbar:before,
body.home .page-container.home-page .btn-toolbar:after,
body.home .page-container.home-page .btn-group-vertical>.btn-group:before,
body.home .page-container.home-page .btn-group-vertical>.btn-group:after,
body.home .page-container.home-page .nav:before,
body.home .page-container.home-page .nav:after,
body.home .page-container.home-page .navbar:before,
body.home .page-container.home-page .navbar:after,
body.home .page-container.home-page .navbar-header:before,
body.home .page-container.home-page .navbar-header:after,
body.home .page-container.home-page .navbar-collapse:before,
body.home .page-container.home-page .navbar-collapse:after,
body.home .page-container.home-page .pager:before,
body.home .page-container.home-page .pager:after,
body.home .page-container.home-page .panel-body:before,
body.home .page-container.home-page .panel-body:after,
body.home .page-container.home-page .modal-header:before,
body.home .page-container.home-page .modal-header:after,
body.home .page-container.home-page .modal-footer:before,
body.home .page-container.home-page .modal-footer:after {
	content: "";
	display: inherit;
}
 /* byline changes */
/*
.post-page .single-post-content .single-post-author > div p.author-name,
.post-page .single-post-content .single-post-author > div p.author-name > a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0;
}
*/



.post-page .single-post-content .single-post-author > div p.author-name > span.author-and {
    color: #767676;
    text-transform: lowercase !important;
}




/* Offset anchors from the top of the page by 150px */

.tph_offset_anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* Email Privacy Policy Blurbs */

.email-privacy-policy-blurb-white a {
    color: #A084BF;
    font-size: 10px;
}

.email-privacy-policy-blurb-purple a {
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 10px;
}

p.email-privacy-policy-blurb-purple {
    margin: 10px 0 0;
}

/* REV CONTENT */

    .rc-item-wrapper .rc-content .rc-headline {
        line-height: 1.42857143;
        font-family: 'Crimson Text', serif;
        font-size: 16px;
        font-weight:200;
        color: #000;
        text-decoration: none;
    }

    .rc-w-58318 > h3, .single-posts-recommended-sponsored {
    	display:none;
    }

    .post-page .single-posts-recommended {
        margin-bottom: 20px;
    }

    .rc-cta:hover .rc-headline {
        text-decoration: none !important;
    }

    .rc-item-wrapper .rc-content .rc-headline:hover, .rc-w-58318.rc-p-pt .rc-cta:hover {
        text-decoration: none !important;
        /*border-bottom: 1px solid #2bbbb3;*/
        color: #2bbbb3;
    }

    .rc-content {
    	color: #337ab7;
    }

    .rc-headine:hover {
    	color: #000;
    }

    .single-posts-recommended .rc-branding-label.rc-brand-content {
    	    margin-top: 10px;
    }


/* Share Counts */

    .share-numbers-wrap {
        display: inline-block;
        padding: 10px 10px 0;
        margin: 10px auto;
    }

    #share-numbers {
        border-right: 1px solid #eeeeee;
        padding-left: 0;
    }

    .share-numbers > .single-social {
        padding-right: 15px;
    }

    .share-numbers.fixed > .single-social {
        border-right: none !important;
    }

    .share-numbers.fixed > #share-numbers,
    .share-numbers.fixed > #view-numbers {
        display: none;
    }

    .share-count {
        font-size: 1.75em;
        line-height: 0;
        color: #2bbbb3;
        text-transform: uppercase;
    }

    #view-numbers .share-count {
        color: #a084bf;
    }

    

    .share-text {
        color: #484848;
        font-size: .775em;
        text-align: center;
        display: block;
        text-transform: uppercase;  
    }

/* Money In Your Pocket */

    #money-in-your-pocket {
        background-color: #4d4774;
        width: 100%;
        height: 140px;
        margin-bottom: 30px;
    }

    #money-in-your-pocket p {
        margin: 0;
        display: none;
    }

    #money-in-your-pocket-thumbs {
        padding: 1em;
    }

    #money-in-your-pocket-thumbs img {
        cursor: pointer;
    }

    /* thumbs specificity override */
    .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-up, .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-down {
        display: inline-block;
        padding: 0 50px;
    }

    .money-in-your-pocket-blurb {
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
        font-size: 2.25em;
        color: #FFF;
        display: block;
        line-height: 1.15em;
        margin-bottom: 15px;
    }


    /* Email Signup */

    #money-in-your-pocket-email .money-in-your-pocket-blurb {
        font-size: 1.55em;
        width: 85%;
        margin: 0 auto;
    }

    #money-in-your-pocket form {
        position: relative;
        width: 85%;
        margin: 15px auto 0;
    }

    #money-in-your-pocket form .form-control {
        border-radius: 0;
    }

    #money-in-your-pocket .input-group-btn {
        position: initial;
    }

    #money-in-your-pocket form input[type="email"] {
        background-color: #FFF;
        height: 50px;
        margin-bottom: 10px;
        width: 100%;
        padding-right: 84px !important;
        display: inline-block;
        float: left;
    }

    #money-in-your-pocket form input[type="submit"] {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        padding-left: 12px;
        padding-right: 12px;
    }

    #money-in-your-pocket form .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        opacity: 100;
    }

    #money-in-your-pocket input[type="submit"] {
        font-size: 20px;
        border-radius: 0;
        color: #fff;
        background-color: #2bbbb3;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        outline: 0;
        border: 0;
        display: block;
        text-transform: uppercase;
        height: 50px;
        text-align: center;
        padding: 10px;
    }

    img.money-in-your-pocket-hide {
        position: absolute;
        right: 25px;
        cursor: pointer;
        z-index: 999;
    }


    #money-in-your-pocket .thumbs-up-error {
        margin-top: 15px;
    }

    #money-in-your-pocket .thumbs-up-success {
        margin-top: 50px;
    }

    /* Already subscribed */

    #money-in-your-pocket .money-in-your-pocket-already-subscribed .thumbs-up-error {
        margin: 0px!important;
        display: inline-block!important;
    }

    #money-in-your-pocket .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb {
        width: 85%;
        margin: 0 auto;
        line-height: 1.35em;
        font-size: 1.475em;
    }

/* Flip Animation */

    .card {
      position: relative;
      float: left;
      width: 25%;
      text-align: center;
    }

    .card__front,
    .card__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card__front,
    .card__back {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: -webkit-transform 1s;
              transition: transform 1s;
    }

    .card__back {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }

    .card.effect__click.flipped .card__front {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }

    .card.effect__click.flipped .card__back {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }

    /* YouTube Icon on search realignment */

    body.search a.has-youtube-video .youtube-play-icon {
        height: 50%;
    }

    #money-in-your-pocket-email .email-sign-up {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    .money-in-your-pocket-new-subscriber img {
        margin: 0px auto!important;
    }

    .money-in-your-pocket-new-subscriber .money-in-your-pocket-blurb,
    .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb{
        vertical-align: middle!important;
    }

/* tablepress custom table border */

.tablepress-border {
    border: 1px solid #dddddd !important;
}

.tablepress-border td {
    border-right: 1px solid #dddddd !important;
}

.tablepress-border td:last-child {
    border-right: none !important;
}

/* Media Queries */


    @media ( max-width: 479px ) {

        #money-in-your-pocket-thumbs {
            padding: 0px;
            padding-left: 1em;
            padding-right: 1em;
        }

        #money-in-your-pocket-thumbs .money-in-your-pocket-blurb {
            font-size: 1.35em;
            margin-top: 10px;
            margin-bottom: 0px;

        }

        #money-in-your-pocket-thumbs img {
            height: 50px!important;
            width: auto!important;
            padding: 0 10px!important;
        }


        /* thumbs specificity override */
        .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-up, .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-down {
            padding: 0 5%;
        }


        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            font-size: 1.05em;
            text-align: left;
            margin-left: -2%;
            width: 95%;

        }

        #money-in-your-pocket-email form {
            margin-left: -20%;
            width: 110%;
        }

        #money-in-your-pocket-email .email-sign-up img.thumbs-up-error {
            height: auto;
            width: auto;
            max-width: 45px;
            margin: 0px;
        }

        /*
        Already subscrbied:
         */
        #money-in-your-pocket .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb{
            font-size: 1.2em;
        }

        #money-in-your-pocket .money-in-your-pocket-already-subscribed img.thumbs-up-error {
            margin-top: 10px!important;
            max-width: 50px!important;
        }

        /*
        Thank you:
         */
        #money-in-your-pocket .money-in-your-pocket-new-subscriber img {
            margin-top: 10px!important;
        }

        /*
        Hide btn:
         */
        img.money-in-your-pocket-hide {
            right: 15px;
        }

    }

    /*
    iPhone 5
     */
    @media (max-width: 321px) {
        #money-in-your-pocket-thumbs .money-in-your-pocket-blurb {
            font-size: 1.2em;
        }

        img.money-in-your-pocket-hide {
            right: 10px;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            max-width: 40px;
        }
    }


@media ( min-width: 480px ) and ( max-width: 767px ) {

        #money-in-your-pocket-thumbs {
            padding: 0px;
            padding-left: 1em;
            padding-right: 1em;
        }

        #money-in-your-pocket-thumbs .money-in-your-pocket-blurb {
            font-size: 1.55em;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        #money-in-your-pocket-thumbs img {
            height: 60px!important;
            width: auto!important;
            padding: 0 10px!important;
        }

        .money-in-your-pocket-blurb-second-line-small {
            display: block;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            font-size: 1.20em;
            text-align: left;
            margin-left: -5%;
            width: 95%;
        }

        #money-in-your-pocket-email .email-sign-up img.thumbs-up-error {
            height: auto;
            width: auto;
            max-width: 50px;
            margin: 0px;
        }

        #money-in-your-pocket-email form {
            margin-left: -20%;
            width: 110%;

        }

        img.money-in-your-pocket-hide {
            position: absolute;
            right: 16px;
            top: 6px;
        }

        /*
        Already subscribed:
         */
        #money-in-your-pocket .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb {
            font-size: 1.2em;
        }

        #money-in-your-pocket .money-in-your-pocket-already-subscribed img.thumbs-up-error {
            margin-top: 10px!important;
            max-width: 50px!important;
        }

        /*
        Thank you:
         */
        #money-in-your-pocket .money-in-your-pocket-new-subscriber img {
            margin-top: 10px!important;
        }

    }

    @media ( min-width: 768px ) {
        #money-in-your-pocket {
            height: 120px;
        }
        .money-in-your-pocket-blurb {
            display: inline-block;
            font-size: 1.65em;
            margin-right: 20px;
        }

        /* Thumbs up and down */

        #money-in-your-pocket-thumbs {
            padding: .5em;
        }

        #money-in-your-pocket-thumbs .money-in-your-pocket-blurb {
            max-width: 60%;
            text-align: left;
            vertical-align: middle;
        }

        /* thumbs specificity override */
        .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-up, .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-down {
            padding: 0 12.5px;
        }

        /* Thumbs up step 2 */
        .post-page .single-post-content .single-post-content-inner img.thumbs-up-error {
            display: inline-block;
        }

        #money-in-your-pocket .thumbs-up-error {
            margin-top: 10px;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            width: 100%;
        }

        #money-in-your-pocket-thumbs .thumbs-up, #money-in-your-pocket-thumbs .thumbs-down {
            width: 107px;
        }

        /* Email Signup */
        #money-in-your-pocket-email .email-sign-up {
            margin: 1em 1em 1em .25em;
        }

        img.money-in-your-pocket-hide {
            top: 3px;
            right: 10px;
            width: 12px;
        }

        #money-in-your-pocket form input[type="email"] {
            width: 85%;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            font-size: 1.188em;    
            text-align: left;
        }

        .money-in-your-pocket-blurb-second-line {
            display: block;
        }

        #money-in-your-pocket form {
            display: inline-block;
            width: 95%;
            margin: 10px 5% 0 0;
        }

        #money-in-your-pocket form input[type="submit"] {
            width: 90px;
        }

        /* Already Subscribed */

        #money-in-your-pocket .money-in-your-pocket-already-subscribed {
            margin: 20px;
        }

        #money-in-your-pocket .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb {
            text-align: left;
            font-size: 1.5em;
            position: relative;
            padding-left: 25px;
        }

        /* Thank You */

        .money-in-your-pocket-new-subscriber {
            margin: 20px;
            text-align: left;
        }

        .money-in-your-pocket-new-subscriber .money-in-your-pocket-blurb {
            margin: 0 20px 0;
            font-size: 2em;
        }

        .money-in-your-pocket-new-subscriber img {
            display: inline-block!important;
            margin: 0px!important;
            position: relative;

        }

    }

    @media ( min-width: 992px ) and ( max-width: 1199px ) {
        #money-in-your-pocket-email .email-sign-up img.thumbs-up-error {
            height: 77px;
            width: 77px;
        }

    }

    @media ( min-width: 992px ) {

        #share-numbers {
            border-left: 1px solid #eeeeee;
            padding-left: 10px;
        }

        #view-numbers.with-border {
            border-left: 1px solid #eeeeee;
        }

        .share-numbers-wrap {
            margin: 0 auto;
        }

        #money-in-your-pocket {
            height: 100px;
        }

        .money-in-your-pocket-blurb {
            font-size: 1.45em;
        }

        #money-in-your-pocket-thumbs .thumbs-up, #money-in-your-pocket-thumbs .thumbs-down {
            width: 66px;
            height: 66px;
            margin: 10px 5px;
        }

        /* thumbs specificity override */
        .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-up, .post-page .single-post-content .single-post-content-inner img.money-in-your-pocket.thumbs-down {
            padding: 0;
        }

        /* Email Signup */

        #money-in-your-pocket form input[type="email"], #money-in-your-pocket form input[type="submit"] {
            height: 35px;
            padding-top: 3px;
        }
        
        #money-in-your-pocket form input[type="submit"] {
            font-size: 16px;
            padding: 4px;
        }

        #money-in-your-pocket .thumbs-up-error {
            margin-top: 0;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            font-size: 1em;
        }

        #money-in-your-pocket form {
            display: inline-block;
            width: 100%;
        }

        #money-in-your-pocket-email .email-sign-up img.thumbs-up-error, #money-in-your-pocket .money-in-your-pocket-already-subscribed > img.thumbs-up-error {
            width: 77px;
        }

        /* Already Subscribed */

        #money-in-your-pocket .money-in-your-pocket-already-subscribed {
            margin: 10px;
        }

        #money-in-your-pocket .money-in-your-pocket-already-subscribed .money-in-your-pocket-blurb {
            font-size: 1.3em;
        }

        /* Thank You */

        .money-in-your-pocket-new-subscriber {
            margin: 12.5px;
        }

        .money-in-your-pocket-new-subscriber .money-in-your-pocket-blurb {
            top: -5px;
            position: relative;
            font-size: 1.75em;
        }


    }

    @media ( min-width: 1200px ) {

        .money-in-your-pocket-blurb {
            font-size: 1.7em;
        }

        #money-in-your-pocket-thumbs .thumbs-up, #money-in-your-pocket-thumbs .thumbs-down {
            margin: 10px 15px;
        }

        /* Email Signup */

        #money-in-your-pocket-email .email-sign-up img.thumbs-up-error, #money-in-your-pocket .money-in-your-pocket-already-subscribed > img.thumbs-up-error {
            width: 77px;
        }

        #money-in-your-pocket-email .email-sign-up {
            margin: .9em 1em 1em .25em;
        }

        #money-in-your-pocket-email .money-in-your-pocket-blurb {
            font-size: 1.2em;
        }

        /* Already Subscribed */

        #money-in-your-pocket .money-in-your-pocket-already-subscribed {
            margin: 7px;
        }


        #money-in-your-pocket .money-in-your-pocket-new-subscriber {
            margin-left: 21px;
        }

    }
    
@media ( max-width: 991px )  {

    p.email-privacy-policy-blurb-purple {
        margin: 10px 0 0;
    }
    
}

@media ( min-width: 992px )  {
    /* Privacy Policy Update */
    .newsletter-social-block .newsletter-stats {
        padding: 6px 20px 0 20px;
    }

}

/*
Sign up newsletter - Input Box Centering ; BG-200
 */
@media (min-width: 992px) {
    .category-page .newsletter-form > div.newsletter-form-form,
    .single-post .newsletter-form > div.newsletter-form-form {
        padding-right: 40px;
    }
}

/**** UNIVERSITY ECOURSE LANDING PAGE TEMPLATE ****/

.page-template-university-ecourse .social-share-bottom {
    padding:10px 0 25px 0;
    background:#f6f6f6;
}

.page-template-university-ecourse .social-share-bottom em.emphasized-text {
    font-size:18px;
}

.page-template-university-ecourse .social-share-bottom p {
    font-size:22px;
    font-family:'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#342c58;
    margin-bottom:15px;
}

.page-template-university-ecourse .social-share-bottom::before {
    content: url(assets/images/university-dollar.png);
    margin-top: -30px;
    margin-right: 20px;
    margin-left: -200px;
    position: absolute;
}

.page-template-university-ecourse .row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.page-template-university-ecourse .purple-bg {
    background:url('assets/images/university-purple-bg-1200px.png');
    color:#fff;
    height:220px;
    background-size: 100% 101%;
    background-repeat: no-repeat;
    position: relative;
}

.page-template-university-ecourse .purple-bg .top-dollar{
    position: absolute;
    top:0;
    left:0;
}

.page-template-university-ecourse .purple-bg .bottom-dollar{
    position: absolute;
    bottom:0;
    right:0;
}

.page-template-university-ecourse .purple-bg h3{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page-template-university-ecourse .purple-bg p{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
}

.page-template-university-ecourse .university-header{
        margin-top: 20px;
        max-width:100%;
}

.page-template-university-ecourse .university-logo{
    margin-top: 30px;
    max-width:165px;
}

.page-template-university-ecourse .title-with-separator{
    margin-bottom:0;
}

.page-template-university-ecourse .separator{
    max-width:120px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.page-template-university-ecourse em.emphasized-text{
    font-family: 'Crimson Text', serif;
    color: #000;
    font-size: 26px;
    margin-top: 20px;
    display: block;
}

.page-template-university-ecourse p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    margin-bottom: 25px;
}

.page-template-university-ecourse .purple-bg .row{
    width:99%;
    margin:0 auto;
    padding:0 10px;
}

.page-template-university-ecourse .purple-bg .list-item{
    padding: 0 10px;
    width: 20%;
    float:left;
}

.page-template-university-ecourse .purple-bg .list-item img{
    float:left;
    padding-right:5px;
    padding-top:5px;
}

.page-template-university-ecourse .purple-bg .list-item p span{
    overflow: hidden;
    text-align: left;
    display:block;
}

.page-template-university-ecourse .yesmailForm input.has-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FF0000;
}

.page-template-university-ecourse .yesmailForm input.has-error::-moz-placeholder { /* Firefox 19+ */
    color: #FF0000;
}

.page-template-university-ecourse .yesmailForm input.has-error:-ms-input-placeholder { /* IE 10+ */
    color: #FF0000;
}

.page-template-university-ecourse .yesmailForm input.has-error:-moz-placeholder { /* Firefox 18- */
    color: #FF0000;
}

.page-template-university-ecourse .form-success-message {
    color: #2bbab5;
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    padding: 60px 0;
    margin: 0;
}

.page-template-university-ecourse .form-success-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    outline: 0;
    background: #2bbbb3;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.page-template-university-ecourse .form-success-btn img {
    margin-right: 5px;
    vertical-align: top;
}

@media screen and ( max-width: 992px ) and ( min-width: 768px ) {
    .page-template-university-ecourse .purple-bg {
        background:url('assets/images/university-purple-bg-992px.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height:auto;
    }
    .page-template-university-ecourse .flex-items{
        display:flex;
    }
    .page-template-university-ecourse .purple-bg .list-item{
        padding: 1px 16px;
        width: 33%;
        margin: 0 auto;
    }
    .page-template-university-ecourse .purple-bg .row .flex-items:nth-of-type(1) p{
        margin-bottom:15px;
    }
    .page-template-university-ecourse .purple-bg .row .flex-items:nth-of-type(2) p{
        margin-bottom:35px;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    .page-template-university-ecourse .purple-bg{
        background:url('assets/images/university-purple-bg-768px.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height:auto;
        margin-left:5px;
    }
    .page-template-university-ecourse .flex-items{
        display:flex;
    }
    .page-template-university-ecourse .purple-bg .list-item{
        padding: 1px 16px;
        width: 50%;
        margin: 0 auto;
    }
    .page-template-university-ecourse .purple-bg .row .flex-items:nth-of-type(1) p{
        margin-bottom:15px;
    }   
    .page-template-university-ecourse .purple-bg .row .flex-items:nth-of-type(2) p{
        margin-bottom:35px;
    }
    .page-template-university-ecourse .purple-bg .top-dollar{
        top:4px;
    }
}

@media screen and ( max-width:480px ) {
    .page-template-university-ecourse .purple-bg{
        background:url('assets/images/university-purple-bg-480px.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height:auto;
        margin-left: 5px;
    }
    .page-template-university-ecourse .purple-bg .list-item{
        width: 100%;
    }
}
/**** END UNIVERSITY ECOURSE LANDING PAGE TEMPLATE ****/

/**** BEGIN CONTACT PENNY PAGE ****/
.ask-penny-contact-page #money-in-your-pocket {
    display: none;
}

.ask-penny-contact-page .captcha-holder {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
}

.ask-penny-contact-page .rc-anchor-light .rc-anchor-normal {
    border: none !important;
}

.contact-penny-row .tph-penny-col {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px;
}
.contact-penny-row h2 {
    font-family: Shrikhand, Georgia;
    text-align: center;
    font-size: 32px;
    color: #A084BF;
    margin-top: 16px;
    margin-bottom: 6px;
}
.contact-penny-row p {
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
}

.ask-penny-contact-page .form-control {
	box-shadow: none !important;
}

.ask-penny-contact-page .form-control:focus {
    box-shadow: none !important;
    border: 1px solid #d9d6d6; 
}

.ask-penny-contact-page input {
    width: 100% !important;
    border-radius: 0;
    border: 1px solid #d9d6d6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    outline: 0;
    height: 55px;
    line-height: 55px;
    text-indent: 10px;
    padding-right: 20px;
}

.ask-penny-contact-page .label-error label.ask-penny-label {
    color: #ff0000 !important;
}

.ask-penny-contact-page .has-error {
    border: 1px solid #ff0000;
}

.ask-penny-contact-page .label-error .form-control,
.ask-penny-contact-page .label-error .form-control:focus {
    border-color:#ff0000;
}

.ask-penny-contact-page div.has-error {
    font-family: Roboto, sans-serif;
	font-size:16px;
    border-radius: 3px;
	margin-bottom: 5px;
	padding: 2px 10px;
	color:#fff;
	background-color:#ff0000;
	border-color:#ff0000;
	display: inline-block;
	position: relative;
}

.ask-penny-contact-page div.has-error:after {
	content: "";
	position:absolute;
	margin-bottom:-6px;
	margin-left:-5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ff0000;
	left: 25%; 
	bottom: 0px;
}

.ask-penny-contact-page #penny-form-success  {
    width: 100%;
    background: #ffffff;
    display: none;
    text-align: center;
    padding: 40px 0px 80px;
    border-bottom: 2px solid #cccccc;
}

.ask-penny-contact-page #penny-form-success h2 {
    font-family: Montserrat;
    font-weight: 500;
    color: #2bbbb3;
    font-size: 44px;
    margin-bottom: 40px;
}

.ask-penny-contact-page textarea {
    width: 100%;
    border-radius: 0;
    border: 1px solid #d9d6d6;
    height: 225px;
    padding: 15px 15px 15px 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.ask-penny-contact-page label {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    color: #342d58;
}
.ask-penny-contact-page .cp-submit {
    margin: 0px 0px 20px;
    padding: 0px;
}

.ask-penny-contact-page .btn {
    text-transform: uppercase;
    background: #2bbbb3;
    padding: 0px 10px;
    color: #ffffff;
    height: 55px;
    width: 100% !important;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 55px;
    border-radius: 0;
    position: relative;
    z-index: 0;
    margin-left: 0px !important;
    margin-right: 0px;
}

.ask-penny-contact-page .btn:hover {
    opacity: .8;
}

.ask-penny-contact-page .ask-penny-disclaimer p {
    font-family: Montserrat;
    font-style: italic;
    text-align: left;
    color: #787878;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.ask-penny-contact-page .ask-penny-disclaimer span {
    font-weight: normal;
    font-style: italic;
}

img.penny-contact-img {
    width: 100%;
    max-width: 100%;
}

img.ap-success-checkmark {
    width: 45px;
    margin-top: -5px;
}

#hiddenRecaptcha-error {
    margin-left: 19px;
}


@media screen and ( min-width: 480px ) {
    .contact-penny-row .tph-penny-col {
        max-width: 385px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 5px;
    }
    .ask-penny-contact-page .btn {
        font-size: 18px;
    }
    #hiddenRecaptcha-error {
        margin-left: 36px;
    }
}

@media screen and ( min-width: 768px ) {
    .contact-penny-row .tph-penny-col {
        max-width: 400px;
    }
    .contact-penny-row textarea {
        height: 205px;
    }
    .ask-penny-contact-page #penny-form-success  {
        border-bottom: none;
        padding: 40px 0px 40px;
    }
    #hiddenRecaptcha-error {
        margin-left: 43px;
    }
}
@media screen and ( min-width: 992px ) {
    .contact-penny-row h2 {
        font-size: 34px; 
    }
    .ask-penny-contact-page #penny-form-success  {
        padding-top: 40px;
    }
    #hiddenRecaptcha-error {
        margin-left: 43px;
    }
}


/**** BEGIN DEV TOOLS CODE IMPORT ****/
    .server_id_float {
        display:none !important;
    }

    ul.single-social > li {
        margin-right: 5px;
    }

    ul.single-social > li:last-of-type {
        margin-right: 0;
    }

    .ask-penny-contact-page #penny-form-success {
        border-bottom: none;
    }

    @media screen and (max-width: 467px) and (min-width: 334px){
    html body.one-time-fixed-body nav.navbar.navbar-fixed-top.one-time-fixed {
        top: 60px!important;
    }
    }
    .tph-wfh-class-short-header #wfh-search .tph-wfh-class-header-search-submit {
      height:58px !important;
    }

    .single-post-content iframe {
        max-width: 100%;
    }

    .author .masthead-block .flex-container {
        display: block !important;
    }
     
    /* Homepage Recommended Content */ 
     
    .home-page .single-posts-recommended { 
        clear: both; 
        background-color: #f5f5f5; 
        margin-left: -5px; 
        margin-right: -5px; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-title h3 { 
        margin-top: 12px; 
        margin-bottom: 12px; 
        color: #fff; 
        padding: 7px 10px; 
        background-color: #0cbb93f0;
        font-size: 15px; 
        text-transform: uppercase; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 400; 
        display: inline-block; 
        float: left; 
        margin-left: 10px; 
    } 
     
    .home-page .single-posts-recommended .single-posts-recommended-sponsored { 
        font-size: 11px; 
        font-family: "Roboto Condensed", sans-serif; 
        color: #767676; 
        text-align: right; 
        padding-bottom: 5px; 
        padding-right: 10px; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner { 
        padding: 0; 
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
    } 
     
    .home-page .single-posts-recommended a.photo-essay-article-content-title { 
        font-family: 'Crimson Text', serif; 
        font-size: 16px; 
        color: #000; 
        text-decoration: none; 
    } 
     
    .home-page .single-posts-recommended .category-subcategory-post-content { 
        padding-top: 10px; 
        padding-bottom: 10px; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner > div > div.category-subcategory-post-content { 
        background: #fff; 
        padding-left: 10px; 
        padding-right: 10px; 
        margin-bottom: 25px; 
        flex-grow: 2; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner > div > div.category-subcategory-post-content a { 
        display: inline-block; 
        font-family: 'Roboto Condensed', sans-serif; 
        font-size: 16px; 
        color: #222222; 
        text-align: left; 
        font-weight: 700; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner > div > div.category-subcategory-post-content a:hover { 
        text-decoration: none; 
        border: 0; 
        color: #2bbbb3; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner > div { 
        padding-left: 15px; 
        padding-right: 15px; 
        display: flex; 
        flex-direction: column; 
    } 
     
    .home-page .single-posts-recommended .post-recommended-inner > div > div { 
        padding-left: 0; 
        padding-right: 0; 
    } 
     
    /* End Homepage Recommended Content */ 
     
    /* Up Next Banner Implementation */ 
    /* Also available in compiled CSS for your convenience. */ 
     
    body .sticky-social:not(.fixed) { 
        bottom: 0px !important; } 
     
    body .up-next-container { 
        display: none; 
    } 
     
    @media (max-width: 991px) { 
        body .up-next-container { 
            background: rgba(255, 255, 255, 0.95); 
            display: block; 
            bottom: -75px; 
            height: 75px; 
            left: 0; 
            margin: 0 auto; 
            padding-top: 10px; 
            position: fixed; 
            text-align: center; 
            width: 100%; 
            z-index: 999999; 
            cursor: pointer; } 
        body .up-next-container:hover, 
        body .up-next-container:focus, 
        body .up-next-container:active { 
            outline: 0; 
        } 
        body .up-next-container .up-next-image { 
            display: inline-block; 
            height: 75px; 
            left: 0px; 
            position: absolute; 
            top: 0px; } 
        body .up-next-container .up-next-text { 
            color: #252525; 
            display: inline-block; 
            font-family: 'Roboto Condensed', sans-serif; 
            font-weight: bold; 
            letter-spacing: 0; 
            position: absolute; 
            -webkit-transform: translate(-50%, -50%); 
            -ms-transform: translate(-50%, -50%); 
            transform: translate(-50%, -50%); 
            text-align: left; 
            top: 50%; } } 
     
    @media (min-width: 320px) { 
        body .up-next-text { 
            font-size: 16px; 
            left: 66%; 
            width: 70%; } } 
     
    @media (min-width: 375px) { 
        body .up-next-text { 
            font-size: 17px; 
            left: 62%; 
            width: 75%; } } 
     
    @media (min-width: 425px) { 
        body .up-next-text { 
            font-size: 19px; } }

    .postid-84082 .row.vertical-image-wrapper {
     display: flex;
    flex-wrap: wrap; }

    .postid-84082 .row.vertical-image-wrapper .vertical-image-text { 
    align-self: center; }
    #debugData{
    display:none;
    }

    .home-page .single-posts-recommended{
    margin-right:0px!important;
    margin-left:0px!important;
    }
    .page-template-university-ecourse .subscribeForm img:first-of-type {
        max-width: 100%;
    }
    .page-template-university-ecourse-template .subscribeForm > .container {
        max-width: 100%!important;
    }
/**** END DEV TOOLS CODE IMPORT ****/
/* Algolia Search Results*/
#ais-filter-label {
	font-weight:700;
	font-size:16px;
	text-transform:uppercase;
	color:#4d4774;
	margin-bottom:10px;
}
#ais-main>#ais-facets {
    width:20%;
    padding: 5%;
    padding: 1rem;
    float:right;
    position:sticky;
    top:auto;
	background-color:white;
	overflow-x:visible;
	z-index:110;
	display:block;
}
#algolia-hits {
    width:78%;
	overflow-x:hidden;
	z-index:100;
}
#ais-main {
    position:relative;
}
.ais-date {
    float:right;
}
div#ais-top-stat>div>div.ais-stats {
	position: static;
}
#algolia-stats {
	position:relative;
	top:-57px;
}
#tph-pager {
    margin: 0 auto;
}
.ais-hierarchical-menu--item__active > div > a,
.ais-menu--item__active > div > a {
	color:#2bbbb3;
}
.ais-hierarchical-menu--item__active > div > a:before,
.ais-menu--item__active > div > a.ais-menu--link:before {
	color:#2bbbb3;
	content: '\f14a\000020';
	font-family: FontAwesome;
}
.ais-menu--item > div > a:before,
.ais-hierarchical-menu--link:before {
	color:#2bbbb3;
	content: '\f096\000020';
	font-family: FontAwesome;
}
.ais-header {
	clear:both;
}
.ais-hits--content h2, .ais-header h3 {
	font-family: Roboto, sans-serif;
}
.ais-hits--content>div.excerpt {
	font-size:16px;
	font-family: Arial, sans-serif;
}
.ais-container {
	    font-family: Arial, sans-serif;
}
.ais-author, .ais-date {
	color:#7d7d7d;
	font-family: Roboto, sans-serif;
	font-size:12px;
	font-weight:900;
	float:none;
}
.ais-author {
	text-transform: uppercase;
}
.ais-date:after {
	color:#7d7d7d;
	content:' • ';
	font-size:16px;
}
.ais-container a {
    color: #000;
    text-decoration: none;
}

.ais-container a:hover {
	text-decoration: none !important;
    border-bottom: 1px solid #2bbbb3;
}
.ais-pagination--item__previous, .ais-pagination--item__next {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
	margin:auto 5px;
}
#algolia-pagination {
	text-align:center;
}
.ais-pagination {
	padding:0;
	-webkit-padding-start:0;
}
#algolia-pagination li{
	font-size:16px;
	padding: auto 3px;
}
#facet-reset, .ais-clear-all, .ais-clear-all--body {
	display:inline;
}
#facet-reset {
	text-transform:uppercase;
	font-size:12px;
	text-decoration:underline;
    font-family: 'Roboto', sans-serif;
}
.ais-center {
    float: none;
    margin: 0 auto;
}	
.ais-hits--thumbnail>a>img{
	width:400px !important;
	max-width:400px;
	min-width:400px;
}
div.ais-hits--item {
	border:none;
}
div.ais-hits--item>article>div.ais-hits--thumbnail {
   	max-height:266px;
	overflow:hidden;
	float:left !important;
	margin-right:20px;
}	
#ais-filter-button {
	display:none;
	float:right;
	width:75px;
	padding:5px;
	margin-top:-5px;
	text-transform:uppercase;
	color:#2BBBB3;
	border:2px solid #2BBBB3;
	font-weight:700;
	font-family:Roboto, sans-serif;
}
#ais-filter-close {
    display:none;
}
#ais-main>#algolia-search-box>input {
    border-bottom: 2px solid #2BBBB3;
	font-family: 'Crimson Text', serif;
	font-size:27px;
}
#ais-main>#algolia-search-box>input::selection {
	background: #4d4774;
    color: white;
    border-radius: 2px;
}
#ais-main>#algolia-search-box>input::-moz-selection {
	background: #4d4774;
    color: white;
    border-radius: 2px;
}
#ais-main>#algolia-search-box>.search-icon {
    fill: #2BBBB3;
}
.tph-ais-title {
	font-size: 23px;
	font-family: 'Crimson Text', serif;
    color: #000;
    text-decoration: none;
}
.ais-hits--item div>a>em, .ais-hits--item div>em {
	background: #4d4774;
    color:white;
}
.ais-related {
	font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
	margin:15px;
}
.widgettitle {
	margin:10px auto;
	padding-bottom:10px;
    font-family: "Roboto", sans-serif;
	font-size:16px;
	font-weight:700;
	color:#7d7d7d;
	border-bottom:dashed 1px #7d7d7d;
}
.ais-hierarchical-menu--count::before, .ais-menu--count::before {
	content: "(";
}
.ais-hierarchical-menu--count::after, .ais-menu--count::after {
	content: ")";
}
.ais-mobile-next, .ais-mobile-prev {
	display:none;
}
.ais-stats--body {
	padding-left:10px;
}
@media only screen and (min-width:769px) and (max-width:1024px) {
	.ais-hits--thumbnail>a>img {
		width:200px!important;
		min-width:200px;
		max-width:200px;
	}
	.ais-hits--thumbnail {
		height:133px;
		overflow:hidden;
	}
}
@media only screen and (min-width:480px) and (max-width:768px) {
	.ais-hits--thumbnail>a>img {
		width:200px!important;
		min-width:200px;
		max-width:200px;
	}
	.ais-hits--thumbnail {
		height:133px;
		overflow:hidden;
	}
	.suggestion-post-content {
		display:none;
	}
}
@media only screen and (min-width:0) and (max-width:768px) {
	#algolia-hits {
		width:100%;
	}
	#algolia-stats {
		position:relative;
		top:auto;
	}
	div#algolia-stats>div>div.ais-stats {
		position:relative;
		text-align:center;
		top:auto;
	}
	.ais-hits--thumbnail>a>img {
		width:200px!important;
		min-width:200px;
		max-width:200px;
	}
	div.ais-hits--item>article>div.ais-hits--thumbnail {
		max-height:133px;
		overflow:hidden;
		margin-right:10px !important;
	}
	.suggestion-post-content {
		display:none;
	}
	.tph-ais-title {
		font-size:20px;
	}
	#ais-main>#ais-facets {
		display:none;
		width:100%;
		position:relative;
		left:0;
		border-bottom:2px solid #F8F8F8;
	} 
	#ais-filter-button {
		display:block;
	}
    #ais-filter-close {
        display:block;
        position:absolute;
        right:10px;
        top:-5px;
		width: 75px;
	    padding: 5px;
	    text-transform: uppercase;
   		color: #2BBBB3;
	    border: 2px solid #2BBBB3;
	    font-weight: 700;
	    font-family: Roboto, sans-serif;
	}
	.ais-wide-prev, .ais-wide-next {
		display:none;
	}
	.ais-mobile-next, .ais-mobile-prev {
		display:block;
		color:#2BBBB3;
		top:20px;
	}
	ul.ais-pagination>li.ais-pagination--item__disabled {
		display:inline-block;
	}
	.ais-pagination--item__previous {
		position:relative;
		float:left;
		top:-30px;
	}
	.ais-pagination--item__next {
		position:relative;
		float:right;
		top:-30px;
	}
	ul.ais-pagination>li.ais-pagination--item__disabled>span.ais-pagination--link>span.ais-mobile-prev,
	ul.ais-pagination>li.ais-pagination--item__disabled>span.ais-pagination--link>span.ais-mobile-next {
		color:#bababa;
	}
}
/* Algolia Search AutoComplete*/
.aa-dropdown-menu a{
	font-family: Helvetica, Arial, sans-serif;
}
.aa-dropdown-menu {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
a.suggestion-link>div.suggestion-post-attributes>span.suggestion-post-attributes>em,
a.suggestion-link>div.suggestion-post-attributes>span.suggestion-post-title em {
	color:#2BBBB3;
}
a.suggestion-link>div.suggestion-post-attributes>span.suggestion-post-content em {
	color:#2BBBB3;
	box-shadow: inset 0 -2px 0 0 rgba(48,187,179,.8);
}
.aa-dropdown-menu .aa-suggestion em a{
	background: #2BBBB3;
}


.newsletter-form input#emailaddressbottom {
    background-color: #ebebeb;
}

form#footerForm .input-group {
    display: inline-block !important;
    width: 100%;
}

form#footerForm input#emailaddressbottom {
    width: 70%;
}
form#footerForm input.at-submit-button.at-footer-subscribe{
    width: 30%;
}

.single-post-content img{
    max-width: 750px !important;
    margin: 0px !important;
}

.four_by_six img{
    margin: auto !important;
}

.post-page .single-post-content .author-container {
    margin-left: 15px;
}

.post-page .single-post-content .single-post-author > div p.author-name, .post-page .single-post-content .single-post-author > div p.author-name > a {
    margin-top: 10px;
}
.reference div .refer-link{
    float: left;
    display: block;
}

.refer-link{
    font-size: 15px;
    margin: 5px 25px;
    color: #0d9c7c;
    text-transform: capitalize;
}